footer{
  color: var(--white-color);
  font-size: 21px;
  background-color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
  gap: 15px;
  flex-wrap: wrap;
}
.social-links{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 5px;
}
.social-links a{
  color: white;
}
.footer-span{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
}
@media(max-width:680px){
  footer{
    font-size: 19px;
    height: 100%;
  }
}